html, body {
    text-align: center;
}

header {
    background-color: rgb(161, 154, 157);
    text-align: center;
    font-size: 30px
}

.buttonsAndInputs {
    text-align: center;
}

.calculationOutput {
    font-size: 35px;
    
}

.unselectedButton {
    background-color: #FCFCFC;
}

.selectedButton {
    background-color: #c5edd0;
}

ul {
    list-style-position: inside;
    font-size: 25px;
}