body {
    text-align: center;
    background-image: url("background-gif-1.gif");
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;

}

header {
    background-image: url("chalk-header-back.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    color: black;;
    margin-top: 40px;
    padding-top: 200px;
    padding-bottom: 0px;
    text-align: center;
}

.contentBelowHeader {
    margin-top: 10px;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    transition-duration: .7s;
    background-color: #FCFCFC;
    font-size: 20px;
    opacity: 50%;
}

button:hover {
    transition-duration: .7s;
    /* background-color: rgb(177, 147, 221); */
    opacity: 100%
}


input {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
    background: transparent;
    color: white;
    
}

input::placeholder {
    color: white;
}


.theCalculationOutput {
    font-size: 50px;
    color: white;
    font-family: 'Special Elite', cursive;
    opacity: 75%;
    
}

#listOfMathOutput {
    /* margin-top: 100px; */
    font-size: 17px;
    font-family: 'Special Elite', cursive;
    
}

.unselectedButton {
    background-color: #FCFCFC;
}

.selectedButton {
    background-color: #c5edd0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    color: white;
    
}

h3 {
    color: white;
}

#previousHeadline {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: rgba(177, 147, 221, 0.842);
    margin-bottom: 7px;
}

footer {
    min-height: 100%;
    min-height: -webkit-calc(100% - 186px);
    min-height: -moz-calc(100% - 186px);
    min-height: calc(100% - 186px);
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 90%;
    color: white;
}


a {
    color: rgba(177, 147, 221);
}